<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: plural_resource_name(Spree::ImageCombine)), spree.admin_image_combines_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<%= form_for [:admin, resource] do |f| %>
  <% resource.images_positions_types.build if resource.images_positions_types.blank? %>
  <% resource.images_positions_types.each do |ipt| %>
  <div class="row" data-hook="admin_page_form_fields">

    <%= f.fields_for :images_positions_types, ipt do |ipt_fields| %>

      <div class="col-lg-6" data-hook="admin_page_form_right">
        <%= ipt_fields.label :block_type %>
        <%= ipt_fields.collection_select :block_type_id, Spree::ImageCombineBlockType.all, :id, :name, class: 'form-control' %>
        <%= error_message_on ipt_fields.object, :block_type %>
      </div>

      <div class="col-lg-6" data-hook="admin_page_form_left">
        <%= ipt_fields.label :block_position %>
        <%= ipt_fields.collection_select :block_position_id, Spree::ImageCombineBlockPosition.all, :id, :name, class: 'form-control' %>
        <%= error_message_on ipt_fields.object, :block_position %>
      </div>

    <% end %>

  </div>
  <% end %>

  <div class="row" data-hook="admin_additional_fields">
    <div class="col-lg-12" data-hook="admin_additional_fields">

      <% resource.build_cropped_image if resource.cropped_image.blank? %>
      <%= f.fields_for :cropped_image, resource.cropped_image do |cropped_image_fields| %>
        <%= cropped_image_fields.label :attachment %>
        <%= cropped_image_fields.file_field :attachment %>
        <% unless resource.cropped_image.new_record? %>
          <%= render partial: '/spree/admin/shared/cropper_form', locals: { resource: resource.cropped_image, cropped_image_fields: cropped_image_fields } %>
        <% end %>
      <% end %>

    </div>
  </div>

  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>
