<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_resource_list, resource: plural_resource_name(Spree::ImageCombine)), spree.admin_image_combines_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<%= form_for [:admin, resource] do |f| %>
  <% resource.images_positions_types.build if resource.images_positions_types.blank? %>
  <div class="row" data-hook="admin_page_form_fields">
      <div class="col-lg-12" data-hook="admin_page_form_right">

        <%= f.collection_check_boxes :block_position_ids, Spree::ImageCombineBlockPosition.all, :id, :name, class: 'form-control' do |bp_fields| %>
          <%= bp_fields.check_box %>
          <%= bp_fields.label %>
        <% end %>
      </div>
  </div>

  <div class="row" data-hook="admin_additional_fields">
    <div class="col-lg-12" data-hook="admin_additional_fields">

      <% resource.build_cropped_image if resource.cropped_image.blank? %>
      <%= f.fields_for :cropped_image, resource.cropped_image do |cropped_image_fields| %>
        <%= cropped_image_fields.label :attachment %>
        <%= cropped_image_fields.file_field :attachment %>
        <% unless resource.cropped_image.new_record? %>
          <%= render partial: '/spree/admin/shared/cropper_form', locals: { resource: resource.cropped_image, cropped_image_fields: cropped_image_fields } %>
        <% end %>
      <% end %>

    </div>
  </div>

  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>
